.header-container{
    width: 98%;
    height: calc(100vh - 100px);
    border: 1.5px solid #292929;
    margin: 0 auto;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
}
.header-container video{
   width: 100%;
   position: relative;
}
.header-btn{
    position: absolute;
    bottom: 5%;
}
.play-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    border: 1.5px solid #292929;
    position: absolute;
    bottom: 5%;
    right: 2%;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pause-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    border: 1.5px solid #292929;
    position: absolute;
    bottom: 5%;
    right: 2%;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:765px) {
    .header-container{
        width: 94%;
    }
    .header-container video{
        width: auto;
        height: 100%;
    }
    .header-btn{
        bottom: -3%;
    }
    .play-btn{
        right: 5%;
        bottom: -3%;
    }
    .pause-btn{
        right: 5%;
        bottom: -3%;
    }
}